# Virtual environments
venv/
.env
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# IDEs
.vscode/
.idea/

# Mac
.DS_Store

# Distribution/build
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
Thumbs.db

# Optional: lockfiles
Pipfile.lock
poetry.lock

# Ignore local wheelhouse
wheelhouse/
